<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/app.css')}}">
    <title>e-Learning</title>
</head>
<body onload="navigate(), courseOverview()">
    <header>
        <h1><b>Course Overview</b></h1>
        <h2 id="welcome"></h2>
    </header>
<nav id="nav">
    
</nav>

    <br>

<div class = "overview">

    <h2 id="hC2"></h2>

    <section id="sCourses"></section>

    <div class="btn"></div>

</div>

    <script src="{{url_for('static', filename='js/app.js')}}"></script>
        
    <div class="footer">
        <p>e-Learning | 2021</p>
    </div>


</body>
</html>