<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/app.css')}}">
    <title>e-Learning</title>
</head>
<body onload="navigate(), courseOverview()">
    <header>
        <h1><b>Course Overview</b></h1>
        <h2 id="welcome"></h2>
    </header>
<nav id="nav">
    
</nav>
    <!-- <div class ="navbar"> -->
        <!-- <a id="acourse" onclick="validate()">Courses</a> -->
        <!-- <a href ="/sign-in">Sign In</a>
        <div class = "dropdown">
            <button class = "dropbtn">Register</button>
            <div class = "dropdown-content">
                <a href="/register-student">Student</a>
                <a href="/register-instructor">Instructor</a>
            </div>
        </div> -->
    <!-- </div> -->

    <br>

    <h2 id="hC2"></h2>

    <section id="sCourses"></section>

    <script src="{{url_for('static', filename='js/app.js')}}"></script>
        
    <div class="footer">
        <p>e-Learning | 2021</p>
    </div>

    <script>
        function getCookied(name) {
            const value = `${document.cookie}`;
            const parts = value.split(`${name}=`);
            if (parts.length === 2){
                return parts.pop().split(';').shift();
            } else if (value == "") {
                window.location = `${window.origin}/index`
                return window.location
            }
        }

        function validate() {
            let username = getCookied("username");
            if (username !== ""){
                window.location = `${window.origin}/student-index`;
            }
            else {
                window.location = `${window.origin}/index`
            }
        }
    </script>
    
    <script>
        function navigate() {
        if (getCookied("std_token") !== "") {
            let navbar = document.createElement("div");
            navbar.classList.add("navbar");
            navbar.innerHTML +=`<a id="acourse" onclick="validate()">Courses</a>`
            let nav = document.getElementById("nav");
            nav.append(navbar)
        } else {
            let navbar = document.createElement("div");
            navbar.classList.add("navbar");
            navbar.innerHTML +=`<a id="acourse" onclick="validate()">Courses</a>
                                <a href ="/sign-in">Sign In</a>
                                <div class = "dropdown">
                                    <button class = "dropbtn">Register</button>
                                    <div class = "dropdown-content">
                                        <a href="/register-student">Student</a>
                                        <a href="/register-instructor">Instructor</a>
                                    </div>
                                </div>`
            let nav = document.getElementById("nav");
            nav.append(navbar)
        }
    }
    </script>


</body>
</html>