<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/app.css')}}">
    <title>e-Learning</title>
</head>
<body onload="instructorCourses()">
    <header>
        <h1><b>Courses</b></h1>
    </header>

    <div class ="navbar">
        <a id="acourse" onclick="validates()">List</a>
        <a href ="/course-setting">Instructor's Courses</a>
        <a href ="/course-update">Create New</a>
    </div>

    <br>

    <h2 id="hC2"></h2>

    <section id="sCourses"></section>

    <script src="{{url_for('static', filename='js/app.js')}}"></script>
        
    <div class="footer">
        <p>e-Learning | 2021</p>
    </div>

    <script>
        if (`${window.origin}/course-setting`){
            const value = `${document.cookie}`;
            const std = `${document.cookie.search("std_token")}`
            if (value == "" || std == 0) {
                alert("Your session has running out time");
                window.location = `${window.origin}/index`;
            }
        }

        function validates() {
            let inst_token = `${document.cookie.search("inst_token")}`
            if (inst_token == 0){
                window.location = `${window.origin}/instructor-index`;
            }
            else {
                window.location = `${window.origin}/index`
            }
        }
    </script>
    
</body>
</html>