<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
    <title>e-Learning</title>
</head>
<body onload="editing(), courselist()">
    <header>
        <h1><b>e-Learning</b></h1>
    </header>

    <div class ="navbar">
        <a href ="/instructor-index" onclick="listCourses()">List</a>
        <a href ="/course-setting">Instructor's Courses</a>
        <a href ="/instructor-index/setting">Settings</a>
        <a onclick ="logOutInst()">Log Out</a>
    </div>

    <h2 id="editTitle"></h2>

    <section id="editCourse">
        <!-- <form action="/admin-portal", id="editingCourse"> -->
            <table>
                <tr>
                    <td>Title</td>
                    <td><input type="title" id="title" placeholder="Enter course title" required></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><textarea id="description" rows="10" cols="100" placeholder = "Enter course description" required></textarea></td>
                </tr>
                <tr>
                    <td>Prerequisites</td>
                    <td id="prerequisite"><div id="listcourse"></div></td>
                </tr>
            </table>
        
    <div id=btn-ctrl>
        <!-- <button type="submit" id="create">Create</button>
        <button type="submit" id="edit" onclick="edit()">Edit</button>
        <button type="submit" id="back" onclick="goBack()">Back</button> -->
    </div>
        <!-- </form> -->

    </section>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>

     <script>
            function goBack(){
                window.history.back();
            }
    </script>

    <script>
        if (`${window.origin}/course-update`){
            const value = `${document.cookie}`;
            const std = `${document.cookie.search("std_token")}`;
            if (value == "" || std == 0) {
                alert("Your session has running out time");
                window.location = `${window.origin}/index`;
            }
        }

    function editing() {
        let cid = window.location.search;
        let courseId = new URLSearchParams(cid); 
        let course_id = courseId.get("id");
        let names = courseId.get("title");
        let title = document.getElementById("editTitle");
        if (cid == "") {
            title.innerHTML = "New Course:"
        } else {
            title.innerHTML = "Edit Course: " + names
        }
        let section = document.getElementById("editCourse");
        let btnctrl = document.getElementById("btn-ctrl");
        btnctrl.innerHTML = "";
        if (course_id == null) {
            btnctrl.innerHTML +=`<button type="submit" id="create" onclick="create()">Create</button>
            <button type="submit" id="back" onclick="goBack()">Back</button>`
            section.append(btnctrl)
        } else {
            btnctrl.innerHTML +=`<button type="submit" id="edit" onclick="edit()">Edit</button>
            <button type="submit" id="back" onclick="goBack()">Back</button>`
            section.append(btnctrl)
        }
    }
    </script>
</body>
</html>