<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
    <title>e-Learning</title>
</head>
<body>
    <header id="register">
        <h1>Register Student</h1>
        <hr>
    </header>

    <section id = "identification">
        <form action="/student-index", method="POST", id="registerStudent">

            <label for="firstname"><b>First Name</b></label>
            <input type="text" id="firstname" placeholder="First Name" required>

            <label for="lastname"><b>Last Name</b></label>
            <input type="text" id="lastname" placeholder="Last Name" required>

            <label for="username"><b>Username</b></label>
            <input type="text" id="username" placeholder="Username" required>

            <label for="email"><b>Email</b></label>
            <input type="email" id="email" placeholder="Email" required>

            <label for="password"><b>Password</b></label>
            <input type="password" id="password" placeholder="6 Digits Numeric" required>

            <button type="submit" id="create">Create</button>
            <button type="submit" id="back" onclick="goBack()">Back</button>

        </form>
    
    </section>

        <div id = "cancel">
            <p>Do you have already an account? <a href="/sign-in">Sign in</a>.</p>
        </div>
    
    <script>
        function goBack(){
            window.location = `${window.origin}/index`;
        }
    </script>

    <script>
        let form = document.getElementById("registerStudent");

        form.addEventListener("submit", function(e) {
        e.preventDefault();

        let firstname = document.getElementById("firstname").value;
        let lastname = document.getElementById("lastname").value;
        let username = document.getElementById("username").value;
        let email = document.getElementById("email").value;
        let password = parseInt(document.getElementById("password").value);

        const info = {firstname, lastname, username, email, password};

        fetch ('http://127.0.0.1:5000/elearning/user/register/student', {
        method: "POST",
        headers: {
            "Content-Type" : "application/json",
            "Accept" : "application/json"
        },
        body: JSON.stringify(info)
        })
        .then(response => response.json())
        .then(response => {
            if (response !== "Please input password 6 digits numeric") {
                console.log(response);
                window.location = `${window.origin}/sign-in`
                alert("Thank You, Please continue to sign in!")
            } else {
                alert(response)
            }
        })
        .catch((error) => console.error('Error:', error))
    })

    </script>

</body>
</html>