<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/app.css')}}">
    <title>e-Learning</title>
</head>

<body>
    <header id="hsignIn">
        <h1>Sign In</h1>
        <hr>
    </header>
    
    <section id="data">

        <div id = "type">
            <p>Who are you?</p>
            <input type="radio" class="student" value="student" name="identification">
            <label>Student</label>
            <input type="radio" class="instructor" value="instructor" name="identification" checked>
            <label>Instructor</label>
        </div>

        <form action="/student-index", method="POST", id="fsignInStudent">

            <label for="username"><b>Username</b></label>
            <input type="text" id="username" placeholder="Username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" id="password" placeholder="6 Digits Numeric" required>

            <button type="submit" id="signInStudent">Sign In</button>
            <button type="submit" id="back" onclick="goBack()">Back</button>
            

        </form>
    </section>


    <div id = "cancel">
        <p>Don't have an account yet? <a href="/register-student">Register</a>.</p>
    </div>

    <script>
        function goBack(){
            window.location = `${window.origin}/index`;
        }
    </script>

    <script>
        function signIn() {
        let radios = document.getElementsByName("identification");
        for (let i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                return radios[i].value;
                }
            }
        }

        let form = document.getElementById("fsignInStudent");

        form.addEventListener("submit", function(e) {
        e.preventDefault();

        let user_name = document.getElementById("username").value;
        let password = document.getElementById("password").value;
        const information = {user_name, password}

        if (signIn() == "student") {
            const url1 = "http://127.0.0.1:5000/elearning/user/login/student"
            fetch(url1, {
                method: "POST",
                body: JSON.stringify(information),
                headers: {
                    "Content-Type":"application/json"
                }
            })
            .then(response => response.json())
            .then(json => {
                if (json === "Sorry, you input wrong username or password!") {
                    alert(json);
                }
                else {
                    for (item of json) {
                        document.cookie = `std_token=${item["std_token"]}; expires=${item["expiry_date"]}`;
                        document.cookie = `username=${item["user_name"]}; expires=${item["expiry_date"]}`;
                        document.cookie = `std_id=${item["student_id"]}; expires=${item["expiry_date"]}`;
                        window.location = `${window.origin}/student-index`;
                    }
                }   
            })
        }
        else {
            const url2 = "http://127.0.0.1:5000/elearning/user/login/instructor"
            fetch(url2, {
                method: "POST",
                body: JSON.stringify(information),
                headers: {
                    "Content-Type":"application/json"
                }
            })
            .then(response => response.json())
            .then(json => {
                if (json === "Sorry, you input wrong username or password!") {
                    alert(json);
                }
                else {
                    for (item of json) {
                        document.cookie = `inst_token=${item["inst_token"]}; expires=${item["expiry_date"]}`;
                        document.cookie = `username=${item["username"]}; expires=${item["expiry_date"]}`;
                        document.cookie = `inst_id=${item["instructor_id"]}; expires=${item["expiry_date"]}`;
                        window.location = `${window.origin}/instructor-index`;
                    }
                }   
            })
        }
    })

    </script>   
</body>
</html>