<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/app.css')}}">
    <title>Sign In</title>
</head>

<body>
    <header id="hsignIn">
        <h1>Sign In</h1>
        <hr>
    </header>
    
    <div id = "type">
        <p>Are you?</p>
        <input type="radio" class="student" value="student" name="identification">
        <label>Student</label>
        <input type="radio" class="instructor" value="instructor" name="identification" checked>
        <label>Instructor</label>
    </div>

    <br>
    
    <section id="data">
        <form action="/student-index", method="POST", id="fsignInStudent">
            <table>
                <tr>
                    <td>Username : </td>
                    <td><input type="text" id="username" placeholder="Username" required></td>
                </tr>
                <tr>
                    <td>Password : </td>
                    <td><input type="password" id="password" placeholder="6 Digits" required></td>
                </tr>
            </table>

            <button type="submit" id="back" onclick="goBack()">Back</button>
            <button type="submit" id="signInStudent">Sign In</button>

        </form>
    </section>

    <div id = "cancel">
        <a href = "/register-student"> <br> Don't have an account yet?</a>
    </div>

    <script>
        function goBack(){
            window.location = `${window.origin}/index`;
        }
    </script>

    <script>
        function signIn() {
        let radios = document.getElementsByName("identification");
        for (let i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                return radios[i].value;
                }
            }
        }

        let form = document.getElementById("fsignInStudent");

        form.addEventListener("submit", function(e) {
        e.preventDefault();

        if (signIn() == "student") {
            let user_name = document.getElementById("username").value;
            let password = document.getElementById("password").value;
            const information = {
                user_name,
                password
            }
            const url1 = "http://127.0.0.1:5000/elearning/user/login/student"
            fetch(url1, {
                method: "POST",
                body: JSON.stringify(information),
                headers: {
                    "Content-Type":"application/json"
                }
            })
            .then(response => response.json())
            .then(json => {
                if (json === "Sorry, you input wrong username or password!") {
                    console.log(json);
                }
                else {
                    for (item of json) {
                        document.cookie = `std_token=${item["std_token"]}; expires=${item["expiry_date"]}`;
                        console.log(document.cookie);
                        alert (`Welcome, ${user_name}!`);
                        window.location = `${window.origin}/student-index`;
                    }
                }   
                })
            }
        })

        //         if (json === []){console.log(json)}
        //         else {

        //             for (item of json) {
        //             document.cookie =`std_token=${item["std_token"]}; expires=${item["expiry_date"]}`;
        //             document.cookie =`student_id=${item["student_id"]}; expires=${item["expiry_date"]}`;
        //             console.log(document.cookie)
        //             alert (`Welcome, ${username}.. Reload Your Page, Please!`);
        //             window.history.pushState({},"",`/student-index?query=${item["student_id"]}`);
        //             // window.location.href = "/student-index";
        //             }
        //         }
        //     }
        // }
        // else {
        //     console.log("Instructor Side")
            // const url2 = "http://127.0.0.1:5000/elearning/user/register/instructors"
            // fetch(url2)
            // .then(response => response.json())
            // .then(json => {
            //     let username = document.getElementById("username").value;
            //     let password = document.getElementById("email").value;
            //     for (data of json) {
            //         if (data["username"] == username && data["email"] == email){
            //             console.log("OK")
            //             window.location.href = "/instructor-index";
            //         }
            //         else {
            //             console.log("Something Wrong")
            //         };
            //     };
            // })
            
        // .catch((error) => console.error("Error:", error))
    </script>   
</body>
</html>